<p>First Name: <%= @student.first_name %></p>
<p>Last Name: <%= @student.last_name %></p>
<p>Age: <%= @student.age %></p>
<p>House: <%= @student.house.name %></p>
<br>
<p><a class="body-link" href="/students/<%= @student.id %>/edit">Edit Student</a></p>
<hr>
<form method="post" action="/students/<%= @student.id %>">
  <input type="hidden" name="_method" value="delete">
  <button class="big-button button">Delete Student</button>
</form>
